<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
<p>role works!</p>

<button igxButton="flat">Welcome To Role Component</button>
